html, body {
    height: 100%;
}

body {
    font-family: 'Karla', sans-serif;
    background: #181743 url("images/aliduman.png") right top no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

h1, h2 {
    color: #ffffff;
}

#name {
    font-size: 88px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

#title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 37px;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.nav li {
    margin-right: 20px;
}

.nav li a {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.nav li.facebook {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.nav li.twitter {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.nav li.linkedin {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.nav li.wordpress {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
}